/* Mobile */
@media only screen and (max-width: 767px) {
	

    #form_holder { font-size:16px; padding:0 15px 20px;}

    #form_holder h1 { font-size:34px;}
    #form_holder h2 { font-size:18px;}
    #form_holder h3 { font-size:16px;}

    #form_holder .price_group { font-size:16px;}

    #form_holder input[type=text], #form_holder input[type=date], #form_holder input[type=number], #form_holder input[type=email], #form_holder input[type=tel], #form_holder input[type=password], #form_holder textarea, #form_holder label.checkbox { height:40px; font-size:16px;}
    #form_holder input.required {background-image:url(http://kairossociety.com/assets/css/images/required-tablet.png);}

    .custom-select-box .custom-select-label { font-size:16px; white-space: normal; padding:11px 50px 11px 15px;}
    .custom-select-box.required .custom-select-label { padding-right:65px; background-image:url(http://kairossociety.com/assets/css/images/required-tablet.png);}
    .custom-select-box.required .custom-select-label:before {right:35px;}
    .custom-select-box .custom-select-label:before { background-image:url('http://kairossociety.com/assets/css/images/select-arrow-tablet.png');}
    .custom-select-box ul li { font-size:16px;}

    #form_holder .payment_error {font-size:18px;}

    #code_registration_container { font-size:15px; padding:50px 15px;}
    #code_registration_container h1 { font-size:34px;}
    #code_registration_container.error fieldset:after {background:url("http://kairossociety.com/assets/css/kgs-2015/assets/images/code_error_mobile.png") center center no-repeat;}
    #code_registration_container input[type=text] { font-size:15px;}

    #code_registration_container button { font-size:12px;}


}

@media only screen and (max-width: 599px){
    #form_holder { font-size:14px;}

    #form_holder h1 { font-size:26px;}
    #form_holder h2 { font-size:14px;}
    #form_holder h3 { font-size:14px;}

    #form_holder .price_group { font-size:14px;}

    #form_holder .price_group.hotel {display:table; padding-right:0; background:#dddddd;}
    #form_holder .price_group.hotel .price { display:table-cell; float:none; width:1%; padding:0 15px 0 0; text-align:right; vertical-align:middle;}
    #form_holder .price_group.hotel:after {display:none;}
    #form_holder .price_group.hotel .custom-select-box { display:table-cell; width:99%;}
    #form_holder .price_group.hotel .custom-select-box .custom-select-label { background:none; color:#343741;}
    #form_holder .price_group.hotel .custom-select-box .custom-select-label:before {right:5px;}

    #form_holder input[type=text], #form_holder input[type=date], #form_holder input[type=number], #form_holder input[type=email], #form_holder input[type=tel], #form_holder input[type=password], #form_holder textarea, #form_holder label.checkbox { height:34px; font-size:14px; margin:0 0 5px 0; float:none;}
    #form_holder input[type=text], #form_holder input[type=date], #form_holder input[type=number], #form_holder input[type=email], #form_holder input[type=tel], #form_holder input[type=password], #form_holder label.checkbox { width:100%;}
    #form_holder input:not(.full_width):nth-child(even), #form_holder .custom-select-box.half_width:nth-child(even), #form_holder label.checkbox:nth-child(even) { float:none;}

    #form_holder input.required {background-image:url(http://kairossociety.com/assets/css/images/required-mobile.png);}

    #form_holder label.checkbox { float:none; height:auto;}

    .custom-select-box.half_width { width:100%;}
    .custom-select-box .custom-select-label { font-size:14px; margin:0 0 5px 0; padding:8px 50px 8px 15px;}
    .custom-select-box.required .custom-select-label { padding-right:55px; background-image:url(http://kairossociety.com/assets/css/images/required-mobile.png);}
    .custom-select-box.required .custom-select-label:before {right:27px;}
    .custom-select-box .custom-select-label:before { background-image:url('http://kairossociety.com/assets/css/images/select-arrow-mobile.png');}
    .custom-select-box ul li { font-size:14px;}

    #form_holder .payment_error {font-size:16px;}

    #code_registration_container { font-size:14px;}
    #code_registration_container h1 { font-size:26px;}
    #code_registration_container input[type=text] { font-size:14px;}
}
