/* Desktop */

@media only screen and (min-width: 1260px) {

	#announcement {
	    font-size: 21px;
	    line-height: 23px;
	}

	#header > .content-wrapper {
		height: 60px;
		line-height: 60px;
	}

	#header #logo a {
		width: 130px;
		height: 28px;
		background-position: 0 -131px;
		margin-top: -8px;
	}

	#header .search-icon {
		left: 25px;		
		width: 26px;
		height: 26px;
		background-position: -15px -74px;		
	}
	#header .globe-icon {
		right: 90px;
		width: 28px;
		height: 28px;
		background-position: -48px -22px;	
	}
	#header .nav-icon {
		right: 25px;
		width: 34px;
		height: 22px;
		background-position: -48px 0;
	}
	#main-nav:before {
		width: 130px;
		height: 28px;
		background-position: 0 -277px;
		top: 13px;		
	}	

	#main-nav .close-nav {
		top: -40px;
		right: 29px;
		width: 23px;
		height: 23px;
		background-position: -44px -107px;
	}

	#main-nav .list-wrapper {
		margin-top: 60px;
		max-height: calc(100% - 60px);
		max-height: -webkit-calc(100% - 60px);
		padding-bottom: 60px;
	}
		#main-nav ul {
			margin-bottom: 30px;			
		}
		
		#main-nav ul:after,
		#main-nav ul li:after {
			left: 30px;
			right: 30px;
		}

		#main-nav ul li a {
			font-size: 38px;
			line-height: 38px;
			padding: 18px 0 24px 0;
		}

	#main-search:before {
		width: 130px;
		height: 28px;
		background-position: 0 -277px;
		top: 13px;		
	}	

	#main-search .close-search {
		top: -40px;
		right: 29px;
		width: 23px;
		height: 23px;
		background-position: -44px -107px;
	}

	#main-search .search-form {
		margin-top: 60px;
		height: 80px;
	}

		#main-search .search-input,
		#main-search .search-input-placeholder {
			font-size: 38px;
			line-height: 38px;
			padding: 21px 80px 21px 30px;
		}

		#main-search .search-submit {
			right: 30px;
			width: 26px;
		}
		#main-search .search-submit:after {
			width: 26px;
			height: 26px;
			background-position: 0 -19px;
		}

		#main-search .search-form:after {
			right: 30px;
			width: 32px;
			height: 32px;
			background-image: url('../images/loader_32.gif');			
		}

	#main-search .list-wrapper {
		max-height: calc(100% - 140px);
		max-height: -webkit-calc(100% - 140px);
		padding-bottom: 60px;
	}
		
		#main-search ul li:before {
			left: 30px;
			right: 30px;
		}
		#main-search ul li:after {
			width: 21px;
			height: 38px;
			right: 30px;
			background-position: -109px -159px;
		}			
		#main-search ul li.active:after,
		.no-touch #main-search ul li:hover:after {
			background-position: -130px -159px;
		}

		#main-search ul li {
			font-size: 38px;
			line-height: 38px;
		}
		#main-search ul li a {
			padding-top: 18px;
			padding-bottom: 24px;
			padding-left: 30px;			
			padding-right: 33%;
		}
		
		#main-search ul li span {		
			top: 18px;
			right: 80px;
			font-family: "Polaris-Book";				
			width: 30%;			
		}

	#big-slider .slider-nav {
		right: 15px;
	}

	#big-slider .scroll-down-arrow {
		width: 41px;
		height: 26px;
		bottom: 40px;
		margin-left: -20px;
		background-position: 0 -48px;
	}	
		#big-slider .slider-item {
			width: 54%;
		}
		
/*
			#big-slider .slider-list .slider-list-item {
				background-size: cover;
			}
*/
			
			#big-slider .slider-item .slider-item-title {
				font-size: 65px;
				line-height: 67px;
				margin-bottom: 80px;
			}

			#big-slider .slider-item .slider-item-title:after {
				width: 340px;
				height: 8px;
				bottom: -50px;
			}
			#big-slider .slider-item .slider-item-text {
				font-size: 26px;
				line-height: 34px;
				margin-bottom: 50px;
			}
			

body:not(.with-heading):not(.fixed-filter) #static-content {
	padding-top: 60px;
}

body.fixed-filter #static-content {
	padding-top: 110px;
}

	.button {
		font-size: 16px;
		line-height: 16px;
		padding: 15px 35px;
	}	
	
	.section:not(.regions-map-section) header {
		padding: 50px 0 60px 0;
	}

		.section header .section-title {
			font-size: 46px;
			line-height: 46px;
		}			

	.section .inline-map {
		height: 400px;
		margin-bottom: 65px;
	}
		
	.section .section-content .section-footer a {
		font-size: 15px;
		line-height: 15px;
	}		
		.section .section-content .section-footer a.browse-all {
			padding-right: 16px;			
		}
		.section .section-content .section-footer a.browse-all:after {
			width: 9px;
			height: 16px;
			top: 2px;
			background-position: -26px -33px;
		}
		
	.grid .grid-nav {
		display: none;
	}

	.box:not(.job-box) .box-article {
		padding: 28px 32px 35px 32px;
	}
		.no-touch .person-box .button,
		.box:not(.job-box) .box-article .button {
			bottom: 35px;
			left: 32px;
		}		
		
		.box.quarter-box .box-article .button {
			opacity: 0;
			-webkit-transition: opacity .3s;
			-moz-transition: opacity .3s;
			-ms-transition: opacity .3s;
			-o-transition: opacity .3s;
			transition: opacity .3s;
		}		

		.box.quarter-box .box-article .article-details {
			position: absolute;
			bottom: 35px;
			left: 32px;
			right: 32px;
		}
		.box .box-article .article-title {
			padding-bottom: 20px;
		}
		.box.full-box .box-article .article-title {
			max-height: 35%;
			font-size: 37px;
			line-height: 43px;
		}
		.box.half-box .box-article .article-title {
			font-size: 32px;
			line-height: 36px;							
			max-height: 215px;
		}
		.box.quarter-box .box-article .article-title {
			font-size: 32px;			
			line-height: 34px;			
			max-height: 70%;
		}
			.box .box-article .article-details span {
				font-size: 15px;
				line-height: 17px;
			}

		.box.press-box .box-article .article-location {
			font-size: 30px;
			line-height: 34px;
		}

		.box.job-box .box-article .article-title {
			max-height: 35%;
			font-size: 46px;
			line-height: 49px;
		}
		.box.full-box .box-article .article-text {
			font-size: 20px;
			line-height: 24px;
		}



		.box:not(.full-box):not(.job-box) .box-article .article-text {
			z-index: 10;
			position: absolute;
			top: 28px;
			left: 32px;
			right: 32px;
			bottom: 100px;
			font-family: "SourceSerifPro-Regular", serif;			
			color: #ffffff;
			overflow: hidden;
			
			-webkit-transition: opacity .3s;
			-moz-transition: opacity .3s;
			-ms-transition: opacity .3s;
			-o-transition: opacity .3s;
			transition: opacity .3s;			
			
			opacity: 0;

			font-size: 16px;
			line-height: 20px;
		}
		
		.box:not(.full-box) .box-article:after {
			z-index: 5;			
		}

		.box.full-box .box-article:after {
			z-index: 2;			
		}

		.box.job-box .box-article .article-text,
		.box.full-box .box-article .article-text {
			max-height: 57%;
		}
		
		.box.full-box .box-article .article-title,
		.box.full-box .box-article .article-location,
		.box.full-box .box-article .article-text,
		.box.full-box .box-article .article-details,
		.box.full-box .box-article .button {
			z-index: 5;
		}		
		
		.box:not(.red-hover):not(.job-box) .box-article:after {
			background: #343741;			
		}
		.box.red-hover .box-article:after {
			background: rgba(218, 41, 28, .9);			
		}



		.box:not(.job-box):not(.half-box):hover .box-article .article-title,
		.box:not(.job-box):hover .box-article .article-text,
		.box:not(.job-box):not(.half-box):hover .box-article .article-location,
		.box:not(.job-box):not(.half-box):hover .box-article .article-details,
		.box:not(.job-box):hover .box-article .button {
			color: #ffffff;
		}
		.box:not(.job-box):hover .box-article .button,
		.box:not(.job-box):hover .box-article .article-text {
			opacity: 1;
		}
		.box:not(.job-box):hover .box-article .button {
			border-color: #ffffff;			
		}

		.box:not(.job-box):not(.press-box):hover .box-article:after {
			opacity: 1;
		}

		.box.press-box.full-box:hover .box-article:after {
			opacity: .96;
		}

		.box.press-box:not(.full-box):hover .box-article:after {
			opacity: 1;
		}


		.partner-box .box-article .article-title {
			padding: 35px 35px 10px 35px;			
			font-size: 32px;
			line-height: 34px;
		}

		.partner-box .box-article .article-details {
			padding: 10px 35px 35px 35px;
		}
			.partner-box .box-article .article-details span {
				font-size: 12px;
				line-height: 12px;
			}
		
		#columns .column .column-content {
			height: 100%;
			
			-webkit-transition: -webkit-transform .35s ease-out;
			-moz-transition: -moz-transform .35s ease-out;
			-ms-transition: -ms-transform .35s ease-out;
			-o-transition: -o-transform .35s ease-out;
			transition: transform .35s ease-out;
			
			-webkit-transform: translate3d(0, 45%, 0);
			-moz-transform: translate3d(0, 45%, 0);
			-ms-transform: translate3d(0, 45%, 0);
			-o-transform: translate3d(0, 45%, 0);
			transform: translate3d(0, 45%, 0);		
		}
			#columns .column header {
				margin-top: 30px;	
				margin-bottom: 60px;
			}
			#columns .column header:after {
				width: 100px;
				height: 6px;
				bottom: -30px;
			}
			
			.section .section-title span.k50-logo,
			#columns .column.k50 header:before {
				width: 88px;
				height: 41px;
				background-position: -83px -41px;					
			}
			.section .section-title span.klabs-logo,
			#columns .column.klabs header:before {
				width: 127px;
				height: 41px;
				background-position: -83px 0;
			}		
				#columns .column header h2 {
					font-size: 42px;
					line-height: 42px;
				}

			#columns .column .column-slider {

				width: 100%;
				height: calc(100% - 228px);
				height: -webkit-calc(100% - 228px);
				overflow: hidden;
				-webkit-overflow-scrolling: touch;
				
				-webkit-transition: opacity .35s ease-out;
				-moz-transition: opacity .35s ease-out;
				-ms-transition: opacity .35s ease-out;
				-o-transition: opacity .35s ease-out;
				transition: opacity .35s ease-out;
				opacity: 0;
			}
				#columns .column-article .article-details {
					bottom: 30px;
				}
				#columns .column-article .article-title {
					font-size: 24px;
					line-height: 26px;
					margin-bottom: 10px;							
				}
				#columns .column-article .article-location {
					font-size: 16px;
					line-height: 18px;							
				}
				
					#columns .column-article .article-img {
						opacity: .8;
					    -webkit-filter: grayscale(100%);
					    filter: grayscale(100%);
					    filter: gray;					    
					}
					
					.no-touch #columns .column-article:hover .article-img {
						opacity: 1;
					    -webkit-filter: grayscale(0%);
					    filter: none;
					}
					
				#columns .column .column-text {
					font-size: 16px;
					line-height: 20px;
					width: 80%;
					margin-bottom: 35px;
				}

	body.fixed-filter #filter {
		top: 60px;
	}

		#filter .column-title:after {
			width: 18px;
			height: 11px;
			margin-left: 5px;
			content: '';
			display: inline-block;
			background-position: -157px -144px;
		}
		
		#filter.active .column-content {
			height: 280px;
			padding-top: 20px;
		}
			#filter .column-slider {
				height: 201px;

			}
				#filter .column-slider ul li {
					margin-bottom: 3px;
				}
					#filter .column-slider label {
						font-size: 16px;
						line-height: 18px;
						padding: 5px 8px 8px 8px;
					}
						
			#filter .column-footer {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 35px;
			}
			
				#filter .column-footer a.collapse-filter {
					font-size: 16px;
					line-height: 16px;
				}
				#filter .column-footer a.collapse-filter:after {
					width: 18px;
					height: 10px;
					background-position: -174px -145px;
					margin-left: 10px;
					margin-top: 5px;
				}
				
				#filter .column-footer a.slider-arrow {
					width: 18px;
					height: 10px;
					margin: 0 5px;					
				}
				#filter .column-footer a.slider-arrow.up-arrow {
					background-position: -174px -145px;				
				}
				#filter .column-footer a.slider-arrow.down-arrow {
					background-position: -157px -145px;				
				}				
		#filter .filter-title,
		#filter .column-title {
			padding: 17px 0;
			font-size: 16px;
			line-height: 16px;
		}

			#filter .filter-title {
				font-family: "Polaris-Light";
			}

			#filter .filter-title .clear-filter {
				width: 13px;
				height: 13px;
				background-position: -6px -118px;

				margin-top: 3px;
				margin-left: 5px;
			}

	.content-search .grid .no-results {
		padding: 130px 0;
		font-size: 16px;
		line-height: 18px;
	}

		.content-search .content-search-box:before,
		.content-search .content-search-box:after {
			background: #ffffff;
		}

		.content-search .content-search-box .article-details {
			bottom: 30px;
		}
		.content-search .content-search-box .article-title {
			font-size: 24px;
			line-height: 26px;
		}
		
		.content-search .content-search-box .article-location {
			font-size: 16px;
			line-height: 18px;							
		}
			.content-search .content-search-box .article-img {
				opacity: .7;
			    -webkit-filter: grayscale(100%);
			    filter: grayscale(100%);
			    filter: gray;					    
			}
			
			.no-touch .content-search .content-search-box:hover .article-img {
				opacity: 1;
			    -webkit-filter: grayscale(0%);
			    filter: none;
			}

	.content-search .load-more {
		padding: 45px 10px;
		font-size: 16px;
		line-height: 16px;
		background: #ffffff;
	}


		.grid .person-box .person-hover-details {
			opacity: 0;
			-webkit-transition: opacity .35s ease-out;
			-moz-transition: opacity .35s ease-out;
			-ms-transition: opacity .35s ease-out;
			-o-transition: opacity .35s ease-out;
			transition: opacity .35s ease-out;			
		}
		
		.grid .person-box:hover .person-hover-details {
			opacity: 1;
		}						

		.grid .person-box:not(.red-hover) .person-hover-details {				
			background: #343741;				
		}

		.grid .person-box.red-hover .person-hover-details {				
			background: #da291c;				
		}

		.grid .person-box .person-details {
			bottom: 30px;
		}
		.grid .person-box .person-name {
			font-size: 24px;
			line-height: 26px;
			margin-bottom: 10px;							
		}
		.grid .person-box .person-title {
			font-size: 16px;
			line-height: 18px;							
		}
				
.sections-nav {
	white-space: nowrap;
}				
	.sections-nav a {
		width: 25%;		
		font-size: 30px;
		line-height: 30px;
		padding: 30px 0;

	}
	.sections-nav a.k50:after,
	.sections-nav a.klabs:after {
		height: 26px;
	}
	.sections-nav a.k50:after {
		width: 56px;
		background-position: -67px -105px;
	}
	.sections-nav a.klabs:after {
		width: 77px;
		background-position: -124px -105px;			
	}
	.sections-nav a.k50:hover:after,
	.sections-nav a.k50.active:after {		
		background-position: -151px -155px;
	}
	.sections-nav a.klabs:hover:after,
	.sections-nav a.klabs.active:after {
		background-position: -130px -276px;
	}

.heading.default-heading {
	min-height: 480px;
}
	.heading .heading-content {
		margin: 110px auto 90px auto;
/*		max-width: 60%;*/
	}

		.heading .heading-content a.back {			
			font-size: 12px;
			line-height: 12px;
		}
			.heading .heading-content a.back:before {
				width: 7px;
				height: 11px;
			}		

		.event-detail .heading .heading-content a.back {
			top: -35px;
		}

		.region-member-detail .heading .heading-content a.back,
		.region-info .heading .heading-content a.back {
			margin-top: 35px;
		}

		.heading .heading-content header h2,
		.klabs-detail .heading .heading-details h4,
		.k50-detail .heading .heading-details h4 {
			font-size: 46px;
			line-height: 48px;
		}

		.fellow-detail .heading .heading-details h3 {
			font-size: 50px;
			line-height: 54px;
			margin-bottom: 30px;
		}

		.heading.default-heading .heading-content header h2 {
			font-family: "Polaris-Medium";
		}

		body:not(.about-member-detail) .heading:not(.default-heading) .heading-content header h2 {
			font-family: "Polaris-Book";
		}

		body.about-member-detail .heading .heading-content header h2 {
			font-family: "Polaris-Light";
		}

		.heading .heading-content .heading-text {
			max-width: 70%;
			font-size: 20px;
			line-height: 24px;
			margin-top: 70px;
		}

		.heading .heading-details {
			margin-top: 135px;
			width: 55%;
		}

		.heading header span.k50-logo {
			width: 99px;
			height: 46px;
			background-position: 0px -384px;
		}

		.heading header span.klabs-logo {
			width: 127px;
			height: 41px;
			background-position: 0px -430px;
		}

		body:not(.about-member-detail) .heading header h3 {
			font-size: 16px; 
			line-height: 18px;
		}
		body.about-member-detail .heading header h3 {
			font-size: 20px; 
			line-height: 23px;
		}
		.k50-detail .heading-details h4,
		.klabs-detail .heading-details h4 {
			margin-bottom: 35px;
		}
			.heading-details .heading-links {
				margin-top: 40px;
			}
				.heading-details .heading-links > a {
					font-size: 12px;
					line-height: 12px;
				}

		.heading-details p {
			font-size: 18px;
			line-height: 25px;
		}
		.heading-details .heading-badges .badge {
			width: 95px;
			height: 95px;
		}

		body.region-member-detail .heading .heading-content .tabbar-nav {
			margin: 30px auto -60px auto;			
		}

		body.events-landing .heading .heading-content .tabbar-nav {
			margin: 30px auto -30px auto;			
		}

		body.region-info .heading .heading-content .tabbar-nav {
			margin: 30px auto -20px auto;			
		}
			.heading .heading-content .tabbar-nav .nav-link {
				padding: 18px 35px;
				font-size: 14px;
				line-height: 14px;
				min-width: 150px;
			}


	.klabs-detail .heading .heading-footer,
	.k50-detail .heading .heading-footer {
		padding: 60px;
	}
		.heading .heading-footer h4 {
			font-size: 48px;
			line-height: 51px;
			margin-bottom: 50px;
		}
		.heading-footer .footer-text {
			width: 65%;
			font-size: 18px;
			line-height: 23px;
		}
		.heading-footer .read-more {
			font-size: 12px;
			line-height: 12px;
			margin-top: 15px;
		}

	.content-detail .heading .heading-footer,
	.event-detail .heading .heading-footer,
	.fellow-detail .heading .heading-footer,
	.partner-detail .heading .heading-footer {
		padding: 14px 24px;
		font-size: 15px;
		line-height: 25px;
	}
		.event-detail .heading .heading-footer div span,
		.content-detail .heading .heading-footer div span,
		.fellow-detail .heading .heading-footer div span,
		.partner-detail .heading .heading-footer div span {
			margin-left: 10px;				
		}
		
		.event-detail .heading .heading-footer div span:not(:last-child):after,
		.content-detail .heading .heading-footer div span:not(:last-child):after,
		.fellow-detail .heading .heading-footer div span:not(:last-child):after,
		.partner-detail .heading .heading-footer div span:not(:last-child):after {
			margin-left: 10px;
		}


.section.job-section .section-content .text-slider {
	max-height: 800px;
	margin-bottom: 30px;
}
	.section.job-section .section-content .text-slider-arrows {
		margin: 20px 0;
	}
		
.section .section-content .section-text,
.section .section-content .section-detail-text {
	max-width: 70%;	
	padding-left: 70px;	
	padding-right: 70px;	
	padding-bottom: 70px;	
}

	.section .section-content .section-text figure,
	.section .section-content .section-detail-text figure {
		margin-bottom: 20px;
	}


    .section .section-content.single_block .section-detail-text {
        font-size:25px;
        text-align:center;
        max-width:50%;
    }
.section .section-content .section-text {
	font-size: 20px;
	line-height: 24px;
}

.section .section-content .section-detail-text {
	font-size: 18px;
	line-height: 26px;
}

	.section .section-content .section-detail-text ul {
		padding: 0 55px;
		margin-bottom: 20px;
	}

.section.without-heading .section-content .section-text,
.section.without-heading .section-content .section-detail-text {
	padding-top: 70px;		
}
	.section .section-content .section-text .button {
		margin-top: 40px;
	}
			
	.section .section-content .section-detail-text h3 {
		font-size: 36px;
		line-height: 43px;
		margin-bottom: 25px;
	}
	.section .section-content .section-detail-text h4 {
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 20px;
	}

	.section .section-content .section-text p,
	.section .section-content .section-detail-text p {
		margin-bottom: 20px;
	}
			
				
.section.about-section.without-heading .social-links .social-link {
	margin-top: 20px;
	margin-bottom: 20px;
}
.section.about-section:not(.without-heading) .social-links {
	margin-top: -30px;
	margin-bottom: 25px;
}

.quotes-slider li.slide {
	padding: 70px 70px 90px 70px;
}
	.quotes-slider li .quote {
		max-width: 70%;
		font-size: 31px;
		line-height: 38px;
	}
		.quotes-slider li .quote:before,
		.quotes-slider li .quote:after {			
			display: inline-block;
			position: relative;
			font-size: 61px;
		}
		.quotes-slider li .quote:after {
			line-height: 10px;
		}

	.quotes-slider li .details {
		margin-top: 28px;
	}
		.quotes-slider li .details span {
			font-size: 15px;
			line-height: 17px;
		}
		.quotes-slider li .details span b {
			font-size: 12px;					
		}

/*
.images-slider li.slide {
	height: 500px;
}
*/
		.images-slider li .details span {
			font-size: 15px;
			line-height: 17px;
		}
		.images-slider li .details span b {
			font-size: 12px;					
		}


.case-studies-slider .slider-nav {
	bottom: 50px;
}

.video-slider .video-slider-wrapper {
	padding-bottom: 80px;
}
	.video-slider li .video:after {
		z-index: 15;
	}
	.video-slider li .video,
	.video-slider li .details {
		width: 50%;
		display: inline-block;
		vertical-align: middle;
	}
	.video-slider li .details {				
		padding: 20px 60px;	
		font-size: 20px;
		line-height: 24px;
	}
	

.honors-section .honor-box .article-title:not(:first-child) {
	font-size: 24px;
	line-height: 27px;
	bottom: 40px;	
}
.honors-section .honor-box .article-title:first-child:last-child {
	font-size:38px;
	line-height:43px;
	font-family: "Polaris-Medium";		
}

.section.honors-section .section-content .section-footer {
	padding: 40px;
}

	.founders-section .founders .section-footer {
		padding: 15px;
	}
		.founders-section .section-footer h3 {
			font-size: 15px;
			line-height: 15px;
		}

.member-section.section header h3  {
	font-size: 20px;
	line-height: 20px;
	margin-top: 20px;
}
	
	.member .member-img {
		max-width: 320px;
		-webkit-box-shadow: 0px 0px 0px 15px rgba(0,0,0,0.10);
		-moz-box-shadow: 0px 0px 0px 15px rgba(0,0,0,0.10);
		box-shadow: 0px 0px 0px 15px rgba(0,0,0,0.10);					
	}
		.member .social-links .space {
			width: 400px;
		}

.region-member-detail .member {
	margin-bottom: 70px;
}

.about-member-detail .member {
	margin-top: 60px;
}					

.section.elsewhere-section .social-links {
	margin: -30px auto 30px auto;
}



body.regions-map #static-content {
	height: 100%;
	height: calc(100% - 140px);
	height: -webkit-calc(100% - 140px);
}

	#regions-map .leaflet-label {
		display: block;
	}


body.regions-map .regions-map-section header {
	top: 85px;
}

#regions-map-filter-wrapper {
	top: 110px;
}


#regions-map-filter-wrapper .input-select label {
	padding: 15px 40px 15px 20px;
}
	#regions-map-filter-wrapper .input-select label:after {
		right: 20px;
	}

#regions-map-overlay {
	padding-top: 12px;
}

	#regions-map-overlay .region-details {
		padding: 0 70px;
	}
		#regions-map-overlay .region-details .region-title {
			margin-top: 10px;
			margin-bottom: 44px;
		}	

			#regions-map-overlay .region-info li {
				padding-right: 40px;
			}
			#regions-map-overlay .region-info li.founded,
			#regions-map-overlay .region-info li.fellows {
				width: 15%;
			}
			#regions-map-overlay .region-info li.president {
				padding-left: 130px;
				width: 50%;
			}

			#regions-map-overlay .region-info li.companies {
				width: 20%;
			}

				#regions-map-overlay .region-info li.president img {
					display: block;
				}
				#regions-map-overlay .region-info li span {
					font-size: 16px;
					line-height: 16px;
					margin-bottom: 10px;
					display: block;
				}
				#regions-map-overlay .region-info li strong {
					font-size: 22px;
					line-height: 22px;
				}
				
			#regions-map-overlay .region-info li:not(.companies):after {
				content: '';
				display: block;
				width: 1px;
				position: absolute;
				top: 0;
				right: 30px;
				bottom: 0;
				background: #343741;
			}

			#regions-map-overlay .region-details.k50-mode .companies-slider .slider-item {
				width: 14.29%;
			}

			#regions-map-overlay .region-details:not(.k50-mode) .companies-slider .slider-item {
				width: 25%;
			}

		#regions-map-overlay .region-details .button {
			margin: 30px auto;
		}

																		
.bulletin-form {
	margin-bottom: 80px;
}
	.bulletin-form .input-text input,
	.bulletin-form .input-text label {
		font-size: 22px;
		line-height: 26px;
		padding: 15px 15px 9px 15px;	
	}

	.bulletin-form .input-radio label {
		font-size: 14px;
		line-height: 14px;
	}
	
	.bulletin-form .input-submit {
		margin-top: 20px;
	}
	
		.bulletin-form .input-submit input {
			font-size: 16px;
			line-height: 50px;
			width: 100%
		}
	
		.bulletin-form .success-message,
		.bulletin-form .error-message {
			font-size: 18px;
			line-height: 21px;
		}
		
			#popup-overlay .overlay-content .section .section-content {
				height: 65%;
				height: calc(100% - 256px);
				height: -webkit-calc(100% - 256px);
			}

#footer {
	padding: 20px;
	height: 40px;
}				
	#footer .copyrights {
		font-size: 12px;
		line-height: 14px;
	}
		#footer .copyrights div {
			margin-bottom: 7px;	
		}
		#footer .social-links a {
			width: 36px;
			height: 36px;
			margin-left: 15px;
		}		
		#footer .social-links a.fb-link:before {
			background-position: -108px -240px;
		}		
		#footer .social-links a.fb-link:after {
			background-position: -108px -204px;
		}		

		#footer .social-links a.li-link:before {
			background-position: -72px -240px;
		}
		#footer .social-links a.li-link:after {
			background-position: -72px -204px;			
		}		
		#footer .social-links a.ig-link:before {
			background-position: -36px -240px;
		}		
		#footer .social-links a.ig-link:after {
			background-position: -36px -204px;						
		}
		#footer .social-links a.tw-link:before {
			background-position: 0px -240px;
		}		
		#footer .social-links a.tw-link:after {
			background-position: 0px -204px;			
		}
		#footer .social-links a.al-link:before {
			background-position: -171px -456px;
		}		
		#footer .social-links a.al-link:after {
			background-position: -135px -420px;			
		}

    /* ======================
    Slider item types
    ====================== */
    #big-slider .slider-list .item-type-2 .slider-item {width:60%; font-size:33px;}
    #big-slider .slider-list .item-type-2 .slider-item h2 { font-size:45px; font-family: "Polaris-Light"; margin:0 0 35px 0;}
    #big-slider .slider-list .item-type-2 .slider-item ul li strong {font-family: "Polaris-Medium"; font-style:italic; font-size:75px;}
    #big-slider .slider-list .item-type-2 .slider-item ul li { margin:0 0 20px 0;}

    #manifesto {padding:0 0 20px 0;}

    /* ======================
        Case study
    ====================== */
    .section.case_study .section-content .section-detail-text {max-width:780px;}

    /* ======================
    Banners
    ====================== */
    .banner_wrap {padding:37.5% 0 0 0;}
    .banner_wrap .inner { position:absolute; left:0; top:0; width:100%; height:100%;}
    .banner_wrap .inner:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -0.25em; /* Adjusts for spacing */}
    .banner_wrap .inner .content { display: inline-block; vertical-align: middle;}

    .banner_wrap.k50 { font-size:35px;}
    .banner_wrap.k50 .content {max-width:900px;}
    .banner_wrap.k50 .logo { margin:0 0 30px 0;}
    .banner_wrap.k50 strong { padding:25px 0 30px 0; font-size:43px;}

    .banner_wrap.kgs .content {max-width:1160px;}
    .banner_wrap.kgs .text_holder { font-size:33px;}
    .banner_wrap.kgs .text_holder strong { font-size:60px;}
    .banner_wrap.kgs .text_holder li { margin:0 0 30px 0;}
    .banner_wrap.kgs .logo_holder img { margin:0 0 30px 0;}

}