/* Desktop + Tablet */

@media only screen and (min-width: 768px) {

	#announcement .content-wrapper {
		padding: 20px;
	}	

	#big-slider .slider-nav a {
		width: 12px;
		height: 12px;
	}
	
	.hidden-content:not(.active) {
		height: 0;
	}

	.grid .hidden-content {
		width: 100%;
	}

	.box.job-box,
	.box.full-box {
		width: 100%;
	}
	.box.job-box {
		padding-bottom: 30%;		
	}
	.box.full-box {
		padding-bottom: 37.5%;
	}

	.box.half-box {
		width: 50%;
		padding-bottom: 31.25%;
		display: inline-block;
		vertical-align: top;
	}

	.grid .partner-box,
	.box.quarter-box {
		width: 25%;
		display: inline-block;
	}

	.box.quarter-box {
		padding-bottom: 25%;		
	}

		.box .box-article {
			position: absolute;		
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.box.job-box .box-article {
			padding: 7% 7% 0 7%;
		}
		.box:not(.job-box) .box-article:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			
			-webkit-transition: opacity .3s;
			-moz-transition: opacity .3s;
			-ms-transition: opacity .3s;
			-o-transition: opacity .3s;
			transition: opacity .3s;
			
			opacity: 0;
		}

		.box.full-box .box-article .article-text {
			position: relative;
		}
		.box.full-box.press-box .box-article .article-text {
			max-width: 45%;
		}

		.box.job-box .box-article .article-text {
			margin-bottom: 25px;
		}

			.box .box-article .article-text p {
				margin-bottom: 10px;
			}

		.box.press-box:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 0;
			bottom: 0;
			width: 1px;
			background: #eeeeee;
		}

		.box.press-box .box-article .article-title,
		.box.press-box .box-article .article-location,
		.box.press-box .box-article .article-details {
			width: 45%;
		}
		.box.press-box.half-box {
			background-position:91.5% 50%;
			background-size:40% auto
		}
		.box.press-box.full-box {
			background-position:85.5% 50%;
			background-size: auto 80%;
		}

	
	#columns .column {
		width: 25%;
	}
		#columns .column-article {
			width: 100%;
		}
	#columns .column .column-all {
		font-size: 12px;
		line-height: 12px;
		padding: 25px 0 23px 0;
		background: #ffffff;		
	}
	#columns .columns-nav,
	#columns .columns-arrow {
		display: none;
	}

	#filter .filter-title .clear-filter {
		display: inline-block;
		vertical-align: top;
	}
	#filter .column {
		width: 25%;
		display: inline-block;
		vertical-align: top;				
	}
		#filter .column-content {
			position: absolute;
			top: 100%;
			left: 0;
		}
		#filter .column-slider label {
			color: #999999;						
		}

	.content-search .content-search-box {
		width: 25%;
	}

	.grid .person-box {
		width: 25%;
	}

	.sections-nav a:not(:first-child) {
		border-width: 0 0 0 1px;
	}

	.quotes-slider .slider-arrow {
		display: block;
	}
		.quotes-slider li .details span:not(:last-child):after {
			margin: 0 20px;
		}

	.case-studies-slider .slider-arrow {
		display: block;
	}
	.images-slider .slider-arrow {
		display: block;
	}
		.images-slider li .details span:not(:last-child):after {
			margin: 0 20px;
		}


	.video-slider .video-slider-wrapper {
		width: 70%;
	}
		.video-slider .slider-nav {
			bottom: 25px;
		}
		.video-slider li.slide {
			background: #ffffff;
		}


	.heading header h2 span:not(:last-child):after {
		content: '|';
		display: inline-block;
		margin: 0 20px;
		font-family: "Polaris-Light";					
	}

	.event-detail .heading header h2,
	.klabs-detail .heading header h2,
	.k50-detail .heading header h2 {
		margin-bottom: 25px;
	}

	.about-member-detail .heading header h2 {
		margin-bottom: 20px;		
	}

	.events-landing .heading .heading-content,
	.region-info .heading .heading-content,
	.region-member-detail .heading .heading-content,
	.event-detail .heading .heading-content {
		text-align: center;		
	}

	.fellow-detail .heading .heading-details h4 {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 25px;		
	}

	.heading .heading-logo {
		float: right;
		margin-top: 60px;
		width: 30%;
	}
		.heading .heading-logo img {
			width: 100%;
		}

		.heading-details .heading-links .social-links {
			float: right;
			margin-top: -10px;
		}


.honors-section {
	text-align: center;
}
	.honors-section .grid-row {
		width: 100%;
	}
	.honors-section .grid-row:not(.hidden-content) {
		margin-bottom: 40px;		
	}
	.honors-section .honor-box {
		width: 25%;
		margin: 0 2%;
	}

	.honors-section .honor-box:last-child:after,
	.honors-section .honor-box:before {
		content: '';
		display: block;
		position: absolute;
		top: 50px;
		bottom: 50px;
		width: 1px;
		background: #eeeeee;
	}	
	.honors-section .honor-box:before {
		left: -8%;		
	}	
	.honors-section .honor-box:after {
		right: -8%;
	}	

	.honors-section .honor-box .article-title:not(:first-child) {
		font-family: "Polaris-Bold";
	}
		.honors-section .honor-box .article-img {
		    -webkit-filter: grayscale(100%);
		    filter: grayscale(100%);
		    filter: gray; 
		}
	
		.honors-section .honor-box a:hover .article-img {
		    -webkit-filter: grayscale(0%);
		    filter: none;
		}

	.founders-section .section-footer h3 {
		margin: 0 10px;
	}


	.member .social-links {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.section.job-section .section-content .text-slider-arrows a {
		margin: 0 10px;
	}

	#regions-map-overlay .close {
		display: none;
	}
	#regions-map-overlay .header {
		font-size: 16px;
		line-height: 29px;		
		padding: 0 35px 16px 35px;		
	}
	#regions-map-overlay .header div {
		font-size: 18px;		
	}
	
	#regions-map-overlay .region-details .region-title {
		font-size: 32px;
		line-height: 32px;			
	}
		#regions-map-overlay .region-details .region-title span:before {
			content: '|';
			font-family: "Polaris-Book";			
			display: inline-block;
			margin: 0 5px;
		}
	
	#regions-map-overlay .region-details:not(.k50-mode) .region-info {
		width: 65%;
	}
	#regions-map-overlay .region-details:not(.k50-mode) .companies-slider {
		width: 35%;		
		padding: 0 10px;
	}

	#regions-map-overlay .region-details.k50-mode .region-info {
		display: none;
	}
	#regions-map-overlay .region-details.k50-mode .companies-slider {
		width: 100%;		
		padding: 0 30px;
	}
		#regions-map-overlay .companies-slider a.arrow.prev-arrow {
			left: -15px;
		}
		#regions-map-overlay .companies-slider a.arrow.next-arrow {
			right: -15px;
		}

	.bulletin-form .input-radio {
		width: 50%;
	}	
		.bulletin-form .input-radio label {
			margin-left: 10px;
		}

	.bulletin-form .input-radio:first-child {
		text-align: left;
	}
	.bulletin-form .input-radio:last-child {
		text-align: right;
	}
	.bulletin-form .input-text {
		width: 48.5%;
		margin-bottom: 3%;
		background: #ffffff;
	}
	.bulletin-form .input-text:nth-child(odd) {
		margin-right: 3%;
	}

	#footer .copyrights {
		position: absolute;
		top: 0;
		left: 0;
		width: 45%;
		text-align: left;
	}
	#footer .social-links {
		position: absolute;
		top: 3px;
		right: 0;
		width: 45%;
		text-align: right;		
	}



    /* ======================
    Slider item types
    ====================== */
    #big-slider .slider-list .item-type-1 .slider-item {width:60%; font-size:24px; color: #FFF;}
    #big-slider .slider-list .item-type-1 .slider-item .logo { margin:0 0 30px 0; max-width:70%;}
}