/* plugins/leaflet.label */

.leaflet-label {
	background: #ffffff;
	color: #343741;

	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	white-space: nowrap;
	
	
	font-family: "Polaris-Heavy";
	text-transform: uppercase;
	padding: 5px 10px;
	
	z-index: 6;
}

.leaflet-label.leaflet-clickable {
	cursor: pointer;
}
