/* Tablet + Mobile */

@media only screen and (max-width: 1259px) {


	#header .search-icon {
		left: 20px;		
		width: 20px;
		height: 20px;
		background-position: -63px -85px;		
	}
	#header .globe-icon {
		right: 70px;
		width: 22px;
		height: 22px;
		background-position: -41px -85px;	
	}
	#header .nav-icon {
		right: 20px;
		width: 26px;
		height: 17px;
		background-position: 0px -101px;
	}
	#main-nav .close-nav {
		right: 21px;
		width: 18px;
		height: 18px;
		background-position: -26px -107px;
	}
		#main-nav ul:after,
		#main-nav ul li:after {
			left: 0;
			right: 0;
		}
		#main-nav ul li a {
			padding: 12px 0 18px 0;
		}

	#main-search .close-search {
		right: 21px;
		width: 18px;
		height: 18px;
		background-position: -26px -107px;
	}
		#main-search ul li a u:after {
			height: 1px;
		}
		
	#big-slider .scroll-down-arrow {
		width: 29px;
		height: 19px;
		margin-left: -15px;
		background-position: 0 0;
	}		
	
		#big-slider .slider-item .slider-item-title {
			margin-bottom: 60px;
		}

		#big-slider .slider-item .slider-item-title:after {
			bottom: -30px;
		}

	#columns .column .column-arrows {
		display: none;
	}

	.button {
		font-size: 12px;
		line-height: 12px;
		padding: 10px 15px;
	}

	.heading .heading-content {
		margin: 80px auto 40px auto;
	}
	
	body:not(.region-member-detail) .heading .heading-content {	
		max-width: 80%;
	}

	.section .section-content .section-text .button {
		margin-top: 20px;
	}
	.klabs-detail .heading .heading-details h4,
	.k50-detail .heading .heading-details h4 {
			margin-bottom: 30px;
		}

	.quotes-slider li .quote:before,
	.quotes-slider li .quote:after {			
		font-size: 51px;
	}

	.video-slider li .video,
	.video-slider li .details {
		width: 100%;
		display: block;
	}

	.event-detail .heading .heading-footer div span,
	.content-detail .heading .heading-footer div span,
	.fellow-detail .heading .heading-footer div span,
	.partner-detail .heading .heading-footer div span {
		margin-left: 5px;				
	}
	.content-detail .heading .heading-footer div span:not(:last-child):after,
	.event-detail .heading .heading-footer div span:not(:last-child):after,
	.fellow-detail .heading .heading-footer div span:not(:last-child):after,
	.partner-detail .heading .heading-footer div span:not(:last-child):after {
		margin-left: 5px;
	}

	.honors-section .honor-box .article-title:first-child:last-child {
		font-family: "Polaris-Book";		
	}
		body.region-member-detail .heading .heading-content .tabbar-nav {
			margin: 20px auto 0px auto;
		}

		body.region-info .heading .heading-content .tabbar-nav {
			margin: 20px auto -15px auto;
		}

		body.events-landing .heading .heading-content .tabbar-nav {
			margin: 30px auto 0px auto;
		}

			.heading .heading-content .tabbar-nav .nav-link {
				font-size: 10px;
				line-height: 10px;
			}

		.box.press-box .box-article .article-location {
			font-size: 20px;
			line-height: 22px;
		}

	.member .member-img {
		-webkit-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.10);
		-moz-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.10);
		box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.10);					
	}

.content-search .grid {
	border-top: 1px solid #dadada;
}

.content-search .content-search-box:before,
.content-search .content-search-box:after {
	background: #dadada;
}

.box:not(.job-box):not(.external-box) .box-article .article-text {
	display: none;
}


.about-member-detail .member {
	margin-top: 40px;
}					

.section.about-section.without-heading .social-links .social-link {
	margin-top: 15px;
	margin-bottom: 15px;
}

#regions-map-filter-wrapper .input-select label {
	padding: 10px 30px 10px 15px;
}
	#regions-map-filter-wrapper .input-select label:after {
		right: 10px;
	}

	#regions-map .leaflet-label {
		display: none;
	}
		#regions-map-overlay .region-info li.president img {
			display: none;
		}

		#regions-map-overlay .region-details:not(.k50-mode) .companies-slider .slider-item {
			width: 33.33%;
		}


	.grid .person-box .person-hover-details .button {
		opacity: 0;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		text-indent: -9999px;
		border: none;
		margin: 0;
		padding: 0;
	}
	.grid .person-box .person-hover-details .person-name,
	.grid .person-box .person-hover-details .row,
	.grid .person-box .person-hover-details .row.bio {
		display: none;
	}

.bulletin-form .input-submit input {
	font-size: 12px;
	line-height: 32px;	
	display: inline-block;
}

	#footer .copyrights div {
		margin-bottom: 5px;	
	}

    /* ======================
    Slider item types
    ====================== */
    #big-slider .slider-list .item-type-3 .slider-item .side_images { display:none;}
    #big-slider .slider-list .item-type-3 .slider-item .slider-item-content { margin:0;}
}