/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 1259px) {
	
	#announcement {
	    font-size: 21px;
	    line-height: 23px;
	}

	#header > .content-wrapper {
		height: 48px;
		line-height: 48px;
	}

	#header #logo a {
		width: 109px;
		height: 23px;
		background-position: 0 -160px;
		margin-top: -8px;		
	}
	
	#main-nav .close-nav {
		top: -30px;
	}
	#main-nav:before {
		width: 109px;
		height: 23px;
		background-position: 0 -305px;
		top: 10px;		
	}

	#main-search:before {
		width: 109px;
		height: 23px;
		background-position: 0 -305px;
		top: 10px;		
	}
	
	#main-search .search-form {
		margin-top: 48px;
		height: 50px;
	}
		#main-search .search-submit {
			right: 20px;
			width: 20px;
		}
		#main-search .search-submit:after {
			width: 20px;
			height: 19px;
			background-position: -29px -14px;
		}
		#main-search .search-input,
		#main-search .search-input-placeholder {		
			font-size: 25px;
			line-height: 25px;
			padding: 13px 60px 12px 20px;
		}		

		#main-search .search-form:after {
			right: 20px;
			width: 22px;
			height: 22px;
			background-image: url('../images/loader_44.gif');
			background-size: 22px;
		}
	#main-nav .list-wrapper {
		margin-top: 48px;
		max-height: calc(100% - 48px);
		max-height: -webkit-calc(100% - 48px);
		padding-bottom: 48px;		
	}	
	#main-nav ul {
		margin-bottom: 24px;			
	}	
		#main-nav ul li a {
			font-size: 24px;
			line-height: 24px;
		}

	#main-search .close-search {
		top: -30px;
	}
	#main-search .list-wrapper {
		max-height: calc(100% - 98px);
		max-height: -webkit-calc(100% - 98px);
		padding-bottom: 48px;
	}
		#main-search ul li:before {
			left: 20px;
			right: 20px;
		}
		
		#main-search ul li:after {
			width: 14px;
			height: 25px;
			right: 20px;
			background-position: -130px -131px;
		}			
		#main-search ul li.active:after,
		.no-touch #main-search ul li:hover:after {
			background-position: -144px -131px;
		}

		#main-search ul li {
			font-size: 24px;
			line-height: 24px;
		}

		#main-search ul li a {
			padding-top: 12px;
			padding-bottom: 14px;
			padding-left: 20px;			
			padding-right: 32%;			
			
		}
		#main-search ul li span {		
			top: 12px;
			right: 50px;
			font-family: "Polaris-Medium";
			width: 30%;			
		}


	#big-slider .slider-nav {
		right: 10px;
	}
			
	#big-slider .scroll-down-arrow {
		bottom: 30px;
	}	
		#big-slider .slider-item {
			width: 60%;
		}	
			#big-slider .slider-item .slider-item-title {
				font-size: 46px;
				line-height: 50px;
			}

			#big-slider .slider-item .slider-item-title:after {
				width: 252px;
				height: 5px;
			}
			#big-slider .slider-item .slider-item-text {
				font-size: 19px;
				line-height: 25px;
				margin-bottom: 30px;
			}	

	body:not(.with-heading):not(.fixed-filter) #static-content {
		padding-top: 48px;
	}
	
	body.fixed-filter #static-content {
		padding-top: 90px;
	}

	.section:not(.regions-map-section) header {
		padding: 35px 0;
	}
		.section header .section-title {
			font-size: 34px;
			line-height: 36px;
		}

	.section .inline-map {
		height: 286px;
		margin-bottom: 45px;		
	}

	.section .section-content .section-footer a {
		font-size: 12px;
		line-height: 12px;
	}
		.section .section-content .section-footer a.browse-all {
			padding-right: 13px;
		}

		.section .section-content .section-footer a.browse-all:after {
			width: 6px;
			height: 10px;
			top: 2px;
			background-position: -36px -33px;
		}	
		
	.grid .grid-nav {
		display: none;
	}			

		.partner-box .box-article .article-title {
			padding: 20px 20px 10px 20px;			
			font-size: 21px;
			line-height: 24px;
		}

		.partner-box .box-article .article-details {
			padding: 5px 20px 20px 20px;
		}
			.partner-box .box-article .article-details span {
				font-size: 10px;
				line-height: 10px;
			}

	.box:not(.job-box) .box-article {
		padding: 20px;
	}
		.no-touch .person-box .button,
		.box:not(.job-box) .box-article .button {
			bottom: 20px;
			left: 20px;
		}

		.box .box-article .article-details span {
			font-size: 11px;
			line-height: 13px;
		}

		.box.job-box .box-article .article-title {
			max-height: 30%;
			font-size: 27px;
			line-height: 30px;
			padding-bottom: 20px;
		}

		.box.full-box .box-article .article-title {
			font-size: 24px;
			line-height: 31px;
			padding-bottom: 15px;
		}
		.box.full-box:not(.press-box) .box-article .article-title {
			max-height: 30%;
		}
		.box.full-box.press-box .box-article .article-title {
			max-height: 60%;
		}
		.box.half-box .box-article .article-title {
			max-height: 60%;
			font-size: 20px;
			line-height: 23px;
			padding-bottom: 10px;		
		}
		.box.quarter-box .box-article .article-title {
			max-height: 70%;
			font-size: 20px;
			line-height: 23px;
/* 			background: green; */
			padding-bottom: 10px;
		}

		.box.full-box .box-article .article-text {
			font-size: 14px;
			line-height: 16px;
			max-height: 55%;
		}
		
		.box.quarter-box .box-article .article-text,
		.box.half-box .box-article .article-text {
			font-size: 11px;
			line-height: 13px;
		}
		
		.box.press-box .box-article .article-details,
		.box.quarter-box .box-article .article-details {
			display: none;
		}
		

	#columns .column header {
		margin-top: 20px;	
		margin-bottom: 40px;
	}
	#columns .column header:after {
		width: 76px;
		height: 5px;
		bottom: -20px;
	}		
		.section .section-title span.klabs-logo,
		#columns .column.klabs header:before {
			width: 77px;
			height: 26px;
			background-position: -124px -105px;
		}
		.section .section-title span.k50-logo,
		#columns .column.k50 header:before {
			width: 56px;
			height: 26px;
			background-position: -67px -105px;
		}		

		#columns .column header h2 {
			font-size: 23px;
			line-height: 23px;
		}

		#columns .column-article .article-details {
			bottom: 20px;
		}
			#columns .column-article .article-title {
				font-size: 15px;
				line-height: 18px;
				margin-bottom: 5px;							
			}
	
			#columns .column-article .article-location {
				font-size: 11px;
				line-height: 14px;							
			}
			
		#columns .column .column-text {
			font-size: 11px;
			line-height: 14px;
			width: 90%;
			margin-bottom: 30px;
		}


	body.fixed-filter #filter {
		top: 48px;
	}
		#filter .column-title:after {
			width: 10px;
			height: 5px;
			margin-left: 5px;
			margin-bottom: 2px;
			content: '';
			display: inline-block;
			background-position: -193px -149px;
		}

		#filter .filter-title .clear-filter {
			width: 9px;
			height: 9px;
			margin-left: 5px;
			margin-top: 3px;			
			background-position: -8px -120px;
		}
		
		#filter.active .column-content {
			height: 220px;
			padding-top: 13px;
		}
			#filter .column-slider {
				height: 160px;
/* 				background: blue; */
			}
				#filter .column-slider ul li {
					margin-bottom: 2px;
				}
					#filter .column-slider label {
						font-size: 12px;
						line-height: 14px;
						padding: 4px 7px 7px 7px;
					}
						
			#filter .column-footer {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 20px;
			}
			
				#filter .column-footer a.collapse-filter {
					font-size: 12px;
					line-height: 12px;
				}
				#filter .column-footer a.collapse-filter:after {
					width: 16px;
					height: 9px;
					background-position: -200px -140px;
					margin-left: 10px;
					margin-top: 3px;
				}
				
				#filter .column-footer a.slider-arrow {
					width: 16px;
					height: 9px;
					margin: 0 5px;					
				}
				#filter .column-footer a.slider-arrow.up-arrow {
					background-position: -200px -140px;
				}
				#filter .column-footer a.slider-arrow.down-arrow {
					background-position: -200px -131px;
				}				
		

		#filter .filter-title,
		#filter .column-title {
			padding: 15px 0;
			font-size: 12px;
			line-height: 12px;
		}
		#filter .filter-title {
			font-family: "Polaris-Book";
		}

	.content-search .grid .no-results {
		padding: 60px 0;
		font-size: 14px;
		line-height: 16px;
	}

		.content-search .content-search-box .article-details {
			bottom: 20px;
		}
			.content-search .content-search-box .article-title {
				font-size: 16px;
				line-height: 19px;
				margin-bottom: 5px;							
			}
	
			.content-search .content-search-box .article-location {
				font-size: 11px;
				line-height: 14px;							
			}
		
	.content-search .load-more {
		padding: 30px 10px;
		font-size: 12px;
		line-height: 12px;
		background: #eeeeee;
	}

.grid .person-box .person-details {
		bottom: 20px;
}
	.grid .person-box .person-name {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 5px;							
	}
	.grid .person-box .person-title {
		font-size: 11px;
		line-height: 14px;							
	}
		
		
.sections-nav {
	white-space: nowrap;
}				
	.sections-nav a {
		width: 25%;
		font-size: 20px;
		line-height: 20px;
		padding: 24px 0;

	}
	.sections-nav a.k50:after,
	.sections-nav a.klabs:after {
		height: 23px;
	}
	.sections-nav a.k50:after {
		width: 48px;
		background-position: -151px -82px;
	}
	.sections-nav a.klabs:after {
		width: 68px;
		background-position: -83px -82px;			
	}
	.sections-nav a.k50:hover:after,
	.sections-nav a.k50.active:after {
		background-position: -151px -181px;
	}
	.sections-nav a.klabs:hover:after,
	.sections-nav a.klabs.active:after {
		background-position: -144px -204px;
	}


.heading.default-heading {
	min-height: 305px;
}
	.heading .heading-content a.back {
		font-size: 11px;
		line-height: 11px;
	}
		.heading .heading-content a.back:before {
			width: 6px;
			height: 10px;			
		}	
	
	.event-detail .heading .heading-content a.back {
		top: -20px;
	}
	.region-info .heading .heading-content a.back,
	.region-member-detail .heading .heading-content a.back {
		margin-top: 20px;		
	}
	.heading .heading-content header h2 {
		font-family: "Polaris-Book";			
		font-size: 30px;
		line-height: 30px;
	}

	.heading .heading-content .heading-text {
		max-width: 70%;
		font-size: 15px;
		line-height: 19px;
		margin-top: 40px;
	}

	.klabs-detail .heading .heading-details h4,
	.k50-detail .heading .heading-details h4 {
		font-size: 34px;
		line-height: 37px;
	}

		.heading header span.k50-logo {
			width: 66px;
			height: 31px;
			background-position: -144px -348px;
		}

		.heading header span.klabs-logo {
			width: 77px;
			height: 26px;
			background-position: -130px -276px;
		}
			body:not(.about-member-detail) .heading header h3 {
				font-size: 11px; 
				line-height: 11px;
			}
			body.about-member-detail .heading header h3 {
				font-size: 14px; 
				line-height: 16px;
			}

	.heading .heading-details {
		margin-top: 80px;
		width: 62%;
	}
		.heading-details .heading-links {
			margin-top: 50px;
		}
			.heading-details .heading-links > a {
				font-size: 11px;
				line-height: 11px;
			}


	.heading .heading-content .tabbar-nav .nav-link {
		min-width: 110px;		
		padding: 10px 25px;		
	}


	.klabs-detail .heading .heading-footer,
	.k50-detail .heading .heading-footer {
		padding: 50px;
	}

		.heading .heading-footer h4 {
			font-size: 34px;
			line-height: 37px;
			margin-bottom: 30px;
		}
		.heading-footer .footer-text {
			font-size: 15px;
			line-height: 19px;
		}
		.heading-footer .read-more {
			font-size: 11px;
			line-height: 11px;
			margin-top: 5px;
		}
		

	.content-detail .heading .heading-footer,
	.event-detail .heading .heading-footer,
	.fellow-detail .heading .heading-footer,
	.partner-detail .heading .heading-footer {
		padding: 10px 16px;
		font-size: 12px;
		line-height: 22px;
	}

		.fellow-detail .heading .heading-details h3 {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 30px;
		}
		
		.heading-details p {
			font-size: 15px;
			line-height: 19px;
		}
		.heading-details .heading-badges .badge {
			width: 67px;
			height: 67px;
		}
		

.section .section-content .section-text,
.section .section-content .section-detail-text {
	font-size: 15px;
	line-height: 19px;
	padding-left: 50px;	
	padding-right: 50px;	
	padding-bottom: 50px;	
	max-width: 70%;
}
	.section .section-content .section-text figure,
	.section .section-content .section-detail-text figure {
		margin-bottom: 15px;
	}

	.section .section-content .section-detail-text ul {
		padding: 0 35px;
		margin-bottom: 15px;		
	}

	.section.job-section .section-content .text-slider {
		max-height: 550px;
		margin-bottom: 40px;
	}
		.section.job-section .section-content .text-slider-arrows {
			margin: 15px 0;
		}


    .section.case_study .section-content .section-detail-text { padding:0 90px 50px 90px; width:auto; max-width:100%;}
    .section.case_study .image_content_holder .caption { margin:0 0 10px 0; font-size:11px;}
    .section.case_study .image_content_holder.right_aligned { max-width:60%;}

    .section.case_study .quote { font-size:23px;}

.section.without-heading .section-content .section-text,
.section.without-heading .section-content .section-detail-text {	
	padding-top: 50px;		
}
    .section .section-content.single_block .section-detail-text {
        padding-top:50px;
        font-size:15px;
        text-align:center;
        max-width:50%;
    }
	.section .section-content .section-detail-text h3 {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.section .section-content .section-detail-text h4 {
		font-size: 19px;
		line-height: 25px;
		margin-bottom: 15px;
	}

	.section .section-content .section-text p,
	.section .section-content .section-detail-text p {
		margin-bottom: 15px;
	}

.section.about-section:not(.without-heading) .social-links {
	margin-top: -10px;
	margin-bottom: 15px;
}
				
.quotes-slider li.slide {
	padding: 50px 50px 90px 50px;
}
	.quotes-slider li .quote {
		max-width: 62%;
		font-size: 24px;
		line-height: 30px;
	}
	.quotes-slider li .details {
		margin-top: 28px;
	}
		.quotes-slider li .quote:before,
		.quotes-slider li .quote:after {			
			display: inline-block;
			position: relative;
		}
		.quotes-slider li .quote:after {
			line-height: 10px;
		}

		.quotes-slider li .details span {
			font-size: 14px;
			line-height: 16px;
		}
		.quotes-slider li .details span b {
			font-size: 11px;					
		}

/*
.images-slider li.slide {
	height: 420px;
}
*/
		.images-slider li .details span {
			font-size: 14px;
			line-height: 16px;
		}
		.images-slider li .details span b {
			font-size: 11px;					
		}


.case-studies-slider .slider-nav {
	bottom: 30px;
}

		
.video-slider li .details {				
	padding: 35px 45px;	
	font-size: 14px;
	line-height: 18px;
}

	.video-slider .video-slider-wrapper {
		padding-bottom: 65px;
	}

.honors-section .honor-box .article-title:not(:first-child) {
	font-size: 18px;
	line-height: 23px;
	bottom: 20px;	
}
		
.honors-section .honor-box .article-title:first-child:last-child {
	font-size: 34px;
	line-height: 38px;
}
.section.honors-section .section-content .section-footer {
	padding: 30px;
}


	.founders-section .founders .section-footer {
		padding: 15px;
	}
	.founders-section .section-footer h3 {
		font-size: 12px;
		line-height: 12px;
	}

.member-section.section header h3  {
	font-size: 16px;
	line-height: 16px;
	margin-top: 10px;
}
		.member .member-img {
			max-width: 220px;
		}
			.member .social-links .space {
				width: 280px;
			}

.region-member-detail .member {
	margin-bottom: 60px;
}

.section.elsewhere-section .social-links {
	margin: -10px auto 20px auto;
}


body.regions-map #static-content {
	height: 100%;
	height: calc(100% - 108px);
	height: -webkit-calc(100% - 108px);
}
body.regions-map .regions-map-section header {
	top: 65px;
}
#regions-map-filter-wrapper {
	top: 90px;
}



#regions-map-overlay {
	padding-top: 16px;
/* 	padding-bottom: 20px; */
}
	#regions-map-overlay .region-details {
		padding: 0 30px;
	}
		#regions-map-overlay .region-details .region-title {
			margin-top: 15px;
			margin-bottom: 55px;
		}	

			#regions-map-overlay .region-info li {
				padding-right: 20px;
			}
				#regions-map-overlay .region-info li span {
					font-size: 14px;
					line-height: 14px;
					margin-bottom: 20px;
					display: block;
				}
				#regions-map-overlay .region-info li strong {
					font-size: 19px;
					line-height: 19px;
				}

			#regions-map-overlay .region-info li.founded,
			#regions-map-overlay .region-info li.fellows {
				width: 20%;
			}
			#regions-map-overlay .region-info li.president {
				width: 35%;
			}

			#regions-map-overlay .region-info li.companies {
				width: 25%;
			}				

		#regions-map-overlay .region-details .button {
			margin: 50px auto 30px auto;
		}

		#regions-map-overlay .region-details.k50-mode .companies-slider .slider-item {
			width: 14.29%;
		}

.bulletin-form {
	margin-bottom: 50px;
}

	.bulletin-form .input-radio label {
		font-size: 11px;
		line-height: 11px;
	}

	.bulletin-form .input-text input,
	.bulletin-form .input-text label {
		font-size: 15px;
		line-height: 19px;
		padding: 14px 15px 10px 15px;	
	}
	.bulletin-form .input-submit {
		margin-top: 15px;
	}
		.bulletin-form .input-submit input {
			padding-left: 35px;
			padding-right: 35px;
		}
	.bulletin-form .success-message,
	.bulletin-form .error-message {
		font-size: 15px;
		line-height: 18px;
	}
	
			#popup-overlay .overlay-content .section .section-content {
				height: 65%;
				height: calc(100% - 156px);
				height: -webkit-calc(100% - 156px);
			}	

#footer {
	padding: 15px;
	height: 30px;
}	
	#footer .copyrights {
		font-size: 10px;
		line-height: 12px;
	}
		#footer .social-links a {
			width: 29px;
			height: 29px;
			margin-left: 10px;
		}		
		#footer .social-links a.fb-link:before {
			background-position: -111px -243px;
		}		
		#footer .social-links a.fb-link:after {
			background-position: -111px -207px;
		}		

		#footer .social-links a.li-link:before {
			background-position: -75px -243px;
		}
		#footer .social-links a.li-link:after {
			background-position: -75px -207px;			
		}		
		#footer .social-links a.ig-link:before {
			background-position: -39px -243px;
		}		
		#footer .social-links a.ig-link:after {
			background-position: -39px -207px;						
		}
		#footer .social-links a.tw-link:before {
			background-position: -4px -243px;
		}		
		#footer .social-links a.tw-link:after {
			background-position: -4px -207px;			
		}
		#footer .social-links a.al-link:before {
			background-position: -175px -460px;
		}		
		#footer .social-links a.al-link:after {
			background-position: -139px -424px;			
		}



        /* ======================
            Manifesto
        ====================== */
        #manifesto { padding:0 30px 20px; font-size:15px;}
        #manifesto h3 { font-size:18px;}
        .manifesto_column {font-size:14px;}
        .manifesto_column { width:46%;}
        .manifesto_column:first-child { width:100%;}

        .images-slider li .details { font-size:12px;}

    /* ======================
		Slider item types
	====================== */
    #big-slider .slider-list .item-type-2 .slider-item {font-size:25px;}
    #big-slider .slider-list .item-type-2 .slider-item h2 { font-size:34px;}
    #big-slider .slider-list .item-type-2 .slider-item ul li strong {font-size:58px;}

    #big-slider .slider-list .item-type-5 .slider-item { width:72%;}

    #big-slider .slider-list .item-type-6 .slider-item {width:87%;}

    #big-slider .slider-list .item-type-7 .slider-item p, #big-slider .slider-list .item-type-7 .slider-item h2{ padding:0 8%;}
    #big-slider .slider-list .item-type-7 .slider-item .logos {max-width:100%;}

    #big-slider .slider-list .item-type-8 .slider-item { width:86%;}

    #big-slider .slider-list .item-type-9 .slider-item { width:90%;}

    #big-slider .slider-list .item-type-10 .slider-item { width:85%; font-size:28px;}
    #big-slider .slider-list .item-type-10 .slider-item h2 { font-weight:bold; font-size:48px;}

    #big-slider .slider-list .item-type-11 .slider-item { width:85%; font-size:34px;}
    #big-slider .slider-list .item-type-11 .slider-item h2 { font-size:34px;}
    #big-slider .slider-list .item-type-11 .slider-item .bottom br { display:none;}
	#big-slider .slider-list .item-type-11 .slider-item p {  margin: 0 0 20px 0;}

    #big-slider .slider-list .item-type-12 .slider-item { width:83%;}

    ul.squares.columns li {width:43%; padding:0 0 0 3%;}

/* ======================
    Banners
====================== */
    .banner_wrap {padding:43% 0 0 0;}
    .banner_wrap .inner { position:absolute; left:0; top:0; width:100%; height:100%;}
    .banner_wrap .inner:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -0.25em; /* Adjusts for spacing */}
    .banner_wrap .inner .content { display: inline-block; vertical-align: middle;}

    .banner_wrap.k50 {font-size:25px;}
    .banner_wrap.k50 .content {padding:0 80px;}
    .banner_wrap.k50 .logo { margin:0 0 20px 0; width:130px;}
    .banner_wrap.k50 strong {padding:25px 0 30px 0; font-size:30px;}

    .banner_wrap.kgs .content { padding:0 70px;}
    .banner_wrap.kgs .text_holder { font-size:22px;}
    .banner_wrap.kgs .text_holder strong { font-size:40px;}
    .banner_wrap.kgs .text_holder li { margin:0 0 5px 0;}
    .banner_wrap.kgs .logo_holder { float:left; width:25%; margin:0 0 0 -25%;}
    .banner_wrap.kgs .logo_holder img { margin:0 0 15px 0;}
}

@media only screen and (max-width: 1350px) {
    #big-slider .slider-list .item-type-11 .slider-item .raised { float:none; display:block;}
    #big-slider .slider-list .item-type-11 .slider-item .acquired { float:none; display:block;}
}
