
.footer-right
{
	   padding: 0.5%;
    color: #fff;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 11px;
    text-shadow: none;
}

#circle {
	width: 200px;
	height: 200px;
	background: #A83334;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}
#circles {
	width: 80px;
	height: 80px;
	background: #A83334;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}

#circleforregister
{
    width: 134px;
    height: 134px;
    background: #A83334;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    margin-left: -30%;
}

.sliderheader
{
 font-size: 62px;
 text-shadow: none;

}
.sliderheaderp
{
 font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Montserrat Light', arial;
    text-shadow: none;
    margin-top: 2%;
    margin-bottom: 2%;
 
}
.mig
{
	font-size: 20px;
	font-family: 'Montserrat Regular', sans-serif;
	    font-style: italic;
	    text-shadow: none;
}
.profilep
{
	    color: #A83334;
}
.soclicon
{
	    color: #A83334 !important;
    padding: 4%;
    font-size: 18px;
}

.left
{
	float: left;
}
.right
{
	float: right;
}

.formpad
{
	padding-left: 1px !important;
    padding-right: 1px !important;
}
.formicons
{
	    border: 2px #A83334 solid;
    font-size: 25px !important;
    

}
.input-prepend
{
	display: inline-block;
   margin-bottom: 10px;
   vertical-align: middle;
   font-size: 0;
   white-space: nowrap;
}

.profile_head
{
        color: #A83334;
}
.desig
{
        margin-top: 0px !important;
}
.big
{
    font-size: 200px !important;
}