
.footer-right
{
	    padding: 2%;
    color: #fff;
}

#circle {
	width: 200px;
	height: 200px;
	background: #A83334;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}

.sliderheader
{
 font-size: 62px;

}
.sliderheaderp
{
 font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
      font-family: 'Montserrat Light', arial;
 
}